@use '/src/styles/mixin.scss' as m;

.form {
    flex-grow: 1;
    border-radius: var(--border-radius);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(var(--color-dark));

    & input,
    & select,
    & textarea {
        width: 100%;
        height: 100%;
        min-height: 3rem;
        padding: 0.5rem;
        border-radius: var(--border-radius);
        color: rgb(var(--foreground));
        background-color: rgb(var(--color-dark-light)) !important;
    }
}

// 요리 사진 스타일
.pictureInput {
    @include m.flex-layout(column);

    &>label {
        @include m.flex-layout(row, center, normal, 0.25rem);
    }

    .inputFile {
        width: 50px;
        border-radius: 0;
    }

    &>ul {
        @include m.flex-layout(row);
        flex-wrap: wrap;

        &>li {
            position: relative;
            width: 200px;
            height: 200px;

            &>img {
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.inputBox {
    @include m.flex-layout(column, normal, normal, calc(var(--base-gap) / 4));
}

// 재료 스탭 스타일
.ingredientContainer {
    @include m.flex-layout(column, normal, normal, calc(var(--base-gap) / 4));

    .ingredientList {
        @include m.flex-layout(column, normal, normal, calc(var(--base-gap) / 2));

        .ingredientItem {
            @include m.flex-layout(row, normal, normal, calc(var(--base-gap) / 4))
        }
    }
}

// 요리 과정 스타일
.stepContainer {
    @include m.flex-layout(column, normal, normal, calc(var(--base-gap) / 2));

    .stepInput {
        @include m.flex-layout(column);

        &>li {
            width: 100%;
            @include m.flex-layout(row, normal, normal, calc(var(--base-gap) / 2));
        }
    }

    .stepField {
        width: 100%;
        @include m.flex-layout(row, normal, normal, calc(var(--base-gap) / 2));

        .inputFile {
            width: 100%;
            max-width: 300px;
            
        }
    }
}

// 여러 곳에서 사용
.appendButton {
    width: fit-content;
    transition-duration: 0.3s;
    background-color: rgb(var(--color-dark-light));
    border-radius: var(--border-radius);
}

.removeButton {
    padding-inline: 0;
    color: red;
}
