@use '/src/styles/mixin.scss' as m;

.form {
    @include m.flex-layout(column, normal, normal, 0);

    .container {
        @include m.flex-layout(row);
        @include m.dark-section();

        .nameInput {
            min-width: 50px;
            flex-grow: 1;
        }

        .submitButton {
            margin-left: auto;
            padding-inline: 1rem;
            padding-block: 0.5rem;
            @include m.main-button();
            border-radius: var(--border-radius);
        }
    }
}