@use '/src/styles/mixin.scss' as m;

.container {
    @include m.flex-layout(column, normal, normal, 0);

    .form {
        @include m.flex-layout(row);
        @include m.dark-section();

        .submitButton {
            margin-left: auto;
            padding-inline: 1rem;
            padding-block: 0.5rem;
            @include m.main-button();
            border-radius: var(--border-radius);
        }
    }
}