@use '/src/styles/mixin.scss' as m;

.filterContentsBox {

    .sectionTitle {
        margin-block: 0.5rem;
    }

    .categoryList {
        @include m.flex-layout(row);
        overflow: hidden;
        flex-wrap: wrap;

        &>li>button {
            background-color: rgb(var(--color-dark-light));
            border-radius: var(--border-radius);
            overflow: hidden;
            transition-duration: 0.3s;
        }
    }
}