@use '/src/styles/mixin.scss' as m;

.container {
    @include m.flex-layout(column, center, center);
    position: relative;
    background-color: rgb(var(--color-dark));
    color: rgb(var(--foreground));
}

.menu {
    min-width: 300px;
    @include m.flex-layout(column, center, center, 0);
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    border-radius: var(--border-radius);
    background-color: inherit;
    transform-origin: top;
    z-index: 10;
    overflow: hidden;
}