@use '/src/styles/mixin.scss' as m;

.container {
    width: fit-content;
    position: relative;

    .dropdownButton {
        height: 100%;
        @include m.flex-layout(column, center, center);
        color: rgb(var(--foreground));
    }

    .menu {
        @include m.flex-layout(column, center, center, 0);
        position: absolute;
        top: calc(100% + 10px);
        right: 0;
        border-radius: var(--border-radius);
        background-color: rgb(var(--color-dark));
        transform-origin: top;
        z-index: 10;
        overflow: hidden;
        box-shadow: var(--base-box-shadow-dark);

        &>* {
            width: 100%;
            padding-block: var(--base-padding);
            padding-inline: calc(var(--base-padding) * 2);
            text-align: center;
            white-space: nowrap;
            
            &:hover {
                filter: none;
                background-color: rgb(var(--color-dark-light));
            }
        }
    }
}