@use '/src/styles/mixin.scss' as m;

.container {
    height: 100vh;
    margin: auto;
    @include m.flex-layout(column, center, center, 2rem);

    &>h1 {
        color: rgba(var(--main-rgb));
        font-size: 10rem;
        font-family: cursive;
        text-shadow: 2px 2px 8px silver;
    }

    &>p {
        font-size: 1.5rem;
    }

    &>button {
        @include m.main-button();
    }
}