@use '/src/styles/mixin.scss' as m;

.container {
    width: 100%;
    padding: 1rem;
    @include m.flex-layout(column);
    border-radius: var(--border-radius);
}

.title {
    width: 100%;
    margin-bottom: 0.5rem;
    @include m.flex-layout(row, center, space-between);
    gap: 0;
    font-weight: bold;
    white-space: nowrap;

    &>:last-child {
        @include m.text-ellipsis();
    }
}

.subTitle {
    margin-bottom: 1rem;
    color: rgb(var(--color-grey-medium));
}
