@use '/src/styles/mixin.scss' as m;

.background {
    width: 100%;
    height: 100vh;
    @include m.flex-layout(row, center, center, 0);
    position: fixed;
    top: 0;
    background-color: rgb(var(--color-dark), 0.5);
    z-index: 1000;

    .dialog {
        min-width: 300px;
        max-height: 80%;
        padding: var(--base-padding);
        @include m.flex-layout(column, normal, normal, 0.5rem);
        border-radius: var(--border-radius);
        background-color: rgb(var(--color-dark));
        color: rgb(var(--foreground));
        box-shadow: var(--base-box-shadow);
        overflow: auto;

        &>header {
            width: 100%;
            @include m.flex-layout(row-reverse, center, space-between);

            & svg {
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .dialog {
        width: 90% !important;
    }
}