@use '/src/styles/mixin.scss' as m;

.container {
    width: 600px;
    padding: var(--base-padding);
    @include m.flex-layout(column);
    aspect-ratio: 1/0.8;
    background-color: rgb(var(--color-dark));
    border-radius: var(--border-radius);

    .loginLayout {
        padding: 0;
        @include m.flex-layout(row);
        flex-grow: 1;

        &>section {
            padding: var(--base-padding);
            border-radius: inherit;
            border-radius: var(--border-radius);
        }

        .loginSection {
            padding: var(--base-padding);
            @include m.flex-layout(column);
            background-color: rgb(var(--color-dark));
            flex-basis: 60%;
            z-index: 10;

            &>button {
                width: 100%;
                padding-block: 0.5rem;
                border: 1px solid silver;
                border-radius: var(--border-radius);
                transition-duration: 0.3s;

                &:hover {
                    color: rgb(var(--background));
                    background-color: rgb(var(--foreground));
                }

                &>* {
                    background-color: unset;
                }
            }
        }


        .subSection {
            position: relative;
            background-color: rgb(var(--color-main), 0.7);
            flex-grow: 1;
            overflow: hidden;

            &>svg {
                width: 100%;
                height: fit-content;
                max-width: 8rem;
                max-height: 8rem;
                position: absolute;
                right: 10px;
                bottom: 10px;
                font-size: 8rem;
            }
        }
    }

}

@media screen and (max-width:768px) {
    .container {
        width: 100%;
        padding-inline: 0;

        .loginLayout {
            gap: 0;
        }
    }
}