@use '/src/styles/mixin.scss' as m;


.container {
    @include m.flex-layout(column);

    .fridgeList {
        @include m.flex-layout(column, normal, normal, 0);
        flex-wrap: wrap;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1), 0px -2px 4px rgba(0, 0, 0, 0.1);
        background-color: rgba(var(--color-dark));
        border-radius: var(--border-radius);
        overflow: hidden;
    }
}