@use '/src/styles/mixin.scss' as m;

.container {
    @include m.flex-layout(column);

    .sharedMemberList {
        @include m.flex-layout(row);
        flex-wrap: wrap;
    }

    .removeButton {
        @include m.button-shape();
        background-color: red;
    }
}

.profilePicture {
    &:hover {
        box-shadow: 0px 0px 1px 2px;
    }
}

.activeButton {
    box-shadow: 0px 0px 1px 2px;
}