@use '/src/styles/mixin.scss' as m;

.ingredientContainer {
    @include m.flex-layout(column, center, center);
    @include m.dark-section(rgb(var(--color-dark)));

    .ingredientInputSection {
        width: 100%;
        @include m.flex-layout(row, normal, space-between);
        flex-wrap: wrap;
    }

    .ingredientFilterSection {
        width: 100%;
        @include m.flex-layout(row);

        &>* {
            @include m.dark-section(rgb(var(--color-dark-light)));
            padding-block: 0;
        }
    }
}

@media screen and (max-width: 767px) {

    .subInfo {
        flex-direction: column;
    }
}