@use '/src/styles/mixin.scss' as m;

.container {
    @include m.flex-layout(column, normal, normal, 0);

    .actionBar {
        @include m.flex-layout(row, center, normal, 0.5rem);
        flex-wrap: wrap;

        &>:first-child {
            height: 3rem;
            border-radius: var(--border-radius);
            background-color: rgb(var(--color-dark));
            flex-grow: 1
        }

        .option {
            @include m.flex-layout(row, center, normal, 0.5rem);

            &>* {
                height: 3rem;
                border-radius: var(--border-radius);
                background-color: rgb(var(--color-dark));
            }
        }
    }
}