@use '/src/styles/mixin.scss' as m;

.container {
    position: relative;
    max-width: 500px;
}

.pictureContainer {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    aspect-ratio: 1;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    &>li {
        height: 100%;
        position: relative;
        scroll-snap-align: center;
        aspect-ratio: 1;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.indicatorContainer {
    width: 100%;
    padding-inline: 0.5rem;
    position: absolute;
    bottom: 10px;
    @include m.flex-layout(row, center, space-between, 0.25rem);

    &>button {
        padding: 0;
        border-radius: 100%;
        background-color: rgb(var(--color-grey-medium));
        font-size: 1.5rem;
        opacity: 0.8;
        overflow: hidden;

        &>*{
            padding: 0;
        }
    }

    &>nav {
        position: relative;
        @include m.flex-layout(row, stretch, center, 0.25rem)
    }
}

.dot {
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background-color: white;
    opacity: 0.5;
    transition-duration: 0.5s;
}

.activeDot {
    opacity: 1;
}

.emptyPicture {
    width: 100%;
    max-width: 500px;
    @include m.flex-layout(column, center, center, 0.5rem);
    aspect-ratio: 1;
    background-color: whitesmoke;

    &>div {
        width: 100%;
        text-align: center;
    }
}