@use '/src/styles/mixin.scss' as m;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --foreground: 237, 237, 237;
  --background: 10, 10, 10;
  --color-main: 96, 159, 255;
  --color-dark-light: 67, 73, 87;
  --color-dark: 37, 40, 48;
  --color-grey-light: 227, 227, 227;
  --color-grey-medium: 121, 121, 121;
  --icon-size-medium: 1.25em;
  --base-box-shadow: 0px 0px 2px 1px silver;
  --border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 237, 237, 237;
    --foreground: 10, 10, 10;
  }
}

html,
body {
  max-width: 100vw;
  height: 100vh;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

a {
  width: fit-content;
  display: block;
  color: inherit;
  text-decoration: none;
}

button,
select,
textarea,
input,
input[type="button"],
input[type="submit"],
input[type="date"],
input[type="search"] {
  background-color: transparent;
  background-image: none;
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  border: none;
}

button,
input[type="button"],
input[type="submit"],
input[type="date"] {
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
}

dialog {
  margin: auto;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px silver;
  overflow: hidden;
}

hr {
  width: 100%;
  border-width: 1px;
  border-top: 1px;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

textarea {
  outline: none;
  resize: none;
}

select, label {
  cursor: pointer;
}

/* width */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
*::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgb(var(--color-grey-light));
  border-radius: 5px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--color-grey-medium));
}

// mixin className으로 즉시 사용 (Tailwind 처럼)
.flex-column {
  @include m.flex-layout(column);
}

.flex-column-center {
  @include m.flex-layout(column, center, center);
}

.flex-column-between {
  @include m.flex-layout(column, center, space-between);
}

.flex-row {
  @include m.flex-layout(row);
}

.flex-row-center {
  @include m.flex-layout(row, center, center);
}

.flex-row-between {
  @include m.flex-layout(row, center, space-between);
}

.abs-center {
  @include m.abs-center();
}

.abs-centerX {
  @include m.abs-center-x();
}

.abs-centerY {
  @include m.abs-center-y();
}

.main-button {
  @include m.main-button();
}

.main-button-dark {
  @include m.main-button-dark();
}