@mixin flex-layout($direction, $align: stretch, $justify: flex-start, $gap: 1rem) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

@mixin text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin main-button {
    color: white;
    background-color: rgb(var(--color-main-medium)) !important;
    border-radius: 10px;
    border: none !important;
}

@mixin posCenterX($position: absolute) {
    position: $position;
    left: 50%;
    transform: translateX(-50%);
}

@mixin posCenterY($position: absolute) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}

@mixin posCenter($position: absolute) {
    position: $position;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin scrollbar() {
    /* width */
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        border-radius: 5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: silver;
        border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(var(--color-grey-medium));
    }
}

@mixin skeleton-shimmer {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 3s infinite;
}

@keyframes shimmer {
    from {
        background-position: 200% 0;
    }

    to {
        background-position: -200% 0;
    }
}