@use '/src/styles/mixin.scss' as m;

.container {
    height: 100vh;
    margin: auto;
    @include m.flex-layout(column, center, center, 2rem);

    &>svg {
        font-size: 8rem;
    }

    &>p {
        font-size: 1.5rem;
    }

    &>button {
        @include m.main-button();
    }
}