@use '/src/styles/mixin.scss' as m;

.card {
    padding: 1rem;
    @include m.flex-layout(column, normal, normal, 0.5rem);
    position: relative;
    background-color: rgba(var(--color-dark), 0.4);
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 8px -2px;

    .cardHeader {
        @include m.flex-layout(row, center, space-between, 0);

        .recipeAction {
            @include m.flex-layout(row);
        }
    }
}

.contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .contents {
        padding: var(--base-padding);
        @include m.flex-layout(column);
        color: rgb(var(--foreground));
        background-color: rgba(var(--color-dark), 0.55);
        border-radius: var(--border-radius);

        &>section:first-of-type {
            @include m.flex-layout(row);
            flex-wrap: wrap;

            &>* {
                background-color: rgba(var(--color-dark), 0.8);
            }
        }
    }

    .pictureSlider {
        height: 500px;
        border-radius: var(--border-radius);
    }
}


.ingredients {
    @include m.flex-layout(row);
    flex-wrap: wrap;

    &>li {
        @include m.main-button-dark();

        &>div {
            box-shadow: 0px 0px 2px 0px;
        }
    }
}

.cardTabIndex {
    padding-bottom: 0.25rem;
    @include m.flex-layout(row);
    border-radius: inherit;
}

@media screen and (max-width: 768px) {
    .contentContainer {
        grid-template-columns: 1fr;
    }

    .pictureSlider {
        height: 250px !important;
    }
}