@use '/src/styles/mixin.scss' as m;

.container {
    @include m.flex-layout(row, center);
    flex-shrink: 0;
    @include m.text-ellipsis();
    border-radius: 100%;

    .profileImage {
        object-position: center;
        object-fit: cover;
    }
}