@use '/src/styles/mixin.scss' as m;

.container {
    @include m.flex-layout(row, center);

    .profileImage {
        border-radius: 100%;
        object-position: center;
        object-fit: cover;
    }

    .name {
        @include m.text-ellipsis();
    }
}