@use '/src/styles/mixin.scss' as m;

.thumbnail {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    cursor: pointer;

    &>img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: inherit;
    }
}

.hoverRecipe {
    width: 100%;
    height: 100%;
    padding: 1rem;
    @include m.flex-layout(column);
    position: absolute;
    top: 0;
    box-shadow: inset 0px 0px 95px 100px rgba(var(--color-dark), 0.8);

    .recipeLinkButton {
        @include m.main-button();
    }
}