@use '/src/styles/mixin.scss' as m;

.container {
    @include m.flex-layout(column);
    flex-shrink: 1;
    @include m.dark-section();

    .title {
        @include m.flex-layout(row, center);
        flex-shrink: 1;
        @include m.text-ellipsis();
    
        .name {
            @include m.text-ellipsis();
        }
    }

    .introduce{
        font-size: 0.85rem;
    }
}
