@use '/src/styles/mixin.scss' as m;

.ingredientContainer {
    @include m.flex-layout(column, center, center);
    @include m.dark-section(rgb(var(--color-dark)));

    .ingredientControls {
        @include m.flex-layout(row);
    }

    .ingredientActions {
        width: 100%;
        @include m.flex-layout(row);

        &>* {
            @include m.dark-section(rgb(var(--color-dark-light)));
        }
    }

    .ingredientList {
        width: 100%;
        @include m.grid-template(column, repeat(auto-fit, minmax(200px, 1fr)));
    }
}

@media screen and (max-width: 767px) {
    .ingredientContainer {
        padding-inline: 0.5rem !important;
    }

    .subInfo {
        flex-direction: column;
    }
}