@use '/src/styles//mixin.scss' as m;

.container {
    position: absolute;
    top: 0;
    background-color: inherit;
    transform-style: preserve-3d;
    z-index: -10;
    transform: perspective(1500px) rotateY(40deg);

    &>* {
        height: auto;
        position: absolute;
        border-radius: 10px;
        animation: fade linear infinite;
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
        transform: translateX(-50vw);
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        transform: translateX(150vw);
    }
}