@use '/src/styles/mixin.scss' as m;

.header {
    position: sticky;
    top: 0;
    @include m.flex-layout(row, center, space-between);
    background-color: inherit;
    border-bottom: 1px solid rgb(var(--color-grey-medium));
    z-index: 1000;
}