@use '/src/styles/mixin.scss' as m;

.container {
    padding-bottom: 10vh;
    @include m.flex-layout(column, normal, normal, 3rem);

    .contents {
        width: 100%;
        max-width: 500px;
        margin: auto;
        @include m.flex-layout(column, normal, normal, 3rem);

        &>section {
            @include m.flex-layout(column, center);

            .rankList {
                width: 100%;
                @include m.grid-template(column, auto-fit, 200px);

                .rankItem {
                    position: relative;

                    .rankTag {
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        bottom: 8px;
                        left: 8px;
                        @include m.flex-layout(column, center, center);
                        background-color: rgba(black, 0.8);
                        border-radius: 100%;
                    }

                    .rankUserCard {
                        @include m.flex-layout(row, center, space-between);

                        .rankValue {
                            padding-inline: 0;
                        }
                    }
                }
            }
        }
    }
}