@use '/src/styles/mixin.scss' as m;

.container {
    --border-length: 2px;

    width: fit-content;
    position: relative;
    @include m.flex-layout(row, normal, space-evenly, 0);
    z-index: 10;

    &>* {
        background-color: rgb(var(--color-dark));
    }
}

.navContainer {
    padding: 0.25rem;
    @include m.flex-layout(row, normal, space-evenly, 0);
    border: var(--border-length) solid;
    border-radius: var(--border-radius);

}

.profile {
    width: 40px;
    @include m.flex-layout(row, center, center, 0);
    border-radius: 100%;
    aspect-ratio: 1;
}

.nav {
    @include m.flex-layout(row, normal, normal, 0);

    background-color: rgb(var(--foreground));
    border-radius: var(--border-radius);
    overflow: hidden;

    &>a {
        width: 2.5rem;
        height: 2.5rem;
        @include m.flex-layout(row, center, center, 0.5rem);
        color: rgb(var(--color-grey-medium));
    }
}

.extendActive {
    border-top: none;
    border-radius: 0 0 10px 10px;
}