@use '/src/styles/mixin.scss' as m;

.form {
    width: 100%;

    .ingredientList {
        width: 100%;
        @include m.grid-template(column, repeat(auto-fill, minmax(200px, 1fr)));

        .removeButton {
            padding: 0;
            margin-bottom: 4px;
        }

        .updateCard {
            @include m.flex-layout(column, normal, normal, 0.25rem);
            @include m.light-dark-section();

            &>select {
                padding-block: 0.25rem;
                border-radius: calc(var(--border-radius) / 2);
                background-color: rgb(var(--color-dark));
            }
        }
    }

    .submit {
        width: 100% !important;
        margin-top: 1rem;
        @include m.button-shape();
        @include m.main-button();
        letter-spacing: 0.5rem;
    }
}