@use '/src/styles/mixin.scss' as m;

.commentList {
    @include m.flex-layout(column);
    padding: 1rem;;
    background-color: rgba(var(--color-dark), 0.5);
    border-radius: var(--border-radius);
}

.comment {
    @include m.flex-layout(row, center, normal, 0.5rem);

    .nameBar {
        display: flex;
        gap: 0.5rem;
        font-size: 0.75rem;

        &>:first-child {
            font-size: 1rem;
        }
    }

    .actionBar {
        padding-left: 0.5rem;
        color: grey
    }
}